body {
    background: #1C0000;
    margin: 0;
    font-family: "sarabun", "yeseva one", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

video, .contenitore-hero-media img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

svg {
    fill: white;
    margin: auto;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

header {
    background-color: #2B0005;
    margin: auto;
    max-width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.evidenziato  { 
    color: #FFA800;
    font-weight: bold;
}

footer {
    justify-content: space-between;
    display: flex;
    max-width: 100%;
    background-color: #2B0005;
}

footer p {
    margin-bottom: 43px;
    margin-top: 44px;
    padding-left: 102px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    padding-right: 95px;
    margin-top: 44px;
}

.home-botton {
    font-family: "yeseva one", sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: white;
}

header p:hover {
    text-decoration: underline;
}

header p a, footer a {
    text-decoration: none;
    color: white
}

header nav ul, footer nav ul {
    font-size: 16px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}

header nav ul a, footer nav ul a {
    text-decoration: none;
    color: white;
}

header nav ul a:hover, footer nav ul a:hover, footer p a:hover, .crumbs ol a:hover {
    text-decoration: underline;
}

svg {
    fill: white;
}

.contenitore-hero-media {
    position: relative;
}

.hero-media {
    width: 100%;
}

.cont-textDX-imgSX {
    padding: 40px 20px 100px 20px;
}

.cont-textSX-imgDX.white{
    padding: 100px 20px;
    background-color: #FFF;
}

.elemento-botti:hover, .elemento-nascita:hover {
    background-color: #a58969;
    transition: .2s;
}

.elemento-botti:hover, .elemento-nascita:hover {
    background-color: #a58969;
    transition: .2s;
}

.cont-textSX-imgDX.white .text-cont-1.white{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.198px;
}

.cont-textSX-imgDX .card-home.white img {
    border-radius: 55px;
    border: 6px solid black;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}


.card-home img {
object-fit: cover;
width: 483px;
height: 438px;
border-radius: 55px;
border: 6px solid #FFF;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.text-cont-1 h1 {
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text-cont-1-botti {
    width: 463px;
    height: 297px;
}

.text-cont-1 p {
padding-top: 37px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.198px;
}
.text-cont-1-botti p {
padding-top: 25px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.198px;
}

.cont-textSX-imgDX .text-cont-1-botti {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.198px;
}

.mark-titoli-home {
    transition: all 0.1s ease-in-out;
}

.mark-titoli-home:hover {
    color: #FFA800;
}

.text-cont-1 {
    width: 560px;
}
.text-cont-1 a{
    color: #FFF;
}

.contenitore-1 {
    max-width: 1200px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    gap: 110px;
}

.link-card {
    text-decoration: none;
}

.elemento-rosso {
    background-color: #460202;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.elemento-rosato {
    background-color: #C96666;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    transition: all 0.1s ease-in-out;
}

.elemento-bianco {
    background-color: #DDBD4A;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    transition: all 0.1s ease-in-out;
}

.icona.rosso, .icona.rosato, .icona.bianco {
    transition: all 0.1s ease-in-out;
}

.elemento-rosso:hover, .icona.rosso:hover, .elemento-caratteristiche.rosso:hover {
    background-color: #9c0d0d;
}

.elemento-rosato:hover, .icona.rosato:hover, .elemento-caratteristiche.rosato:hover {
    background-color: #ff4e4ed1;
}

.elemento-bianco:hover, .icona.bianco:hover, .elemento-caratteristiche.bianco:hover {
    background-color: #ffc800e6;
}

.section-ico {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 65px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.backgroundbianco {
    background-color: #FFF;
    padding-top: 78px;
    padding-bottom: 78px;
    margin-bottom: 0;
}

.contenitore-icone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin: auto;
}

.contenitore-icone.storia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin: auto;
}

.testo-icona.nero {
    color: #000;
}

.testo-e-icona {
    margin: 0 auto;
    text-align: center;
}

.testo-icona {
    color: white;
    padding-top: 20px;;
}

.hero {
    max-width: 100%;
    position: relative;
}

.hero1 {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.contenitore-1-botti {
    max-width: 1120px;
    margin: auto;
    color: white;
    display: flex;
    gap: 110px;

}

.contenitore-icone-storia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin: auto;
}

.elemento-nascita, .elemento-botti {
    background-color: #D6C2AB;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    transition: all 0.1s ease-in-out;
}

.testo-icona-storia {
    color: black;
}

.tag-page {
    right: 0;
    background-color: #1C0000;
    color: white;
    align-content: center;
    width: 420px;
    height: 140px;
    position: absolute;
    bottom: 50%;
}
.tag-page h1{
    padding-left: 29px;
}

.contenitore-titolo {
position: absolute;
width: 420px;
height: 141px;
background: #1C0000;
color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 48px */
letter-spacing: -0.608px;
display: flex;
align-items: center;
text-align: right;
padding-left: 48px;
justify-content: center;
}

.icona-abbinamento .testo-icona {
    color: #000;
}

.icona.rosso {
    background-color:  #460202;
    border-radius: 50px;
    height: 160px;
    width: 160px;
    display: grid;
}

.icona.rosato {
    background-color: #C96666;
    border-radius: 50px;
    height: 160px;
    width: 160px;
    display: grid;
}

.icona.bianco {
    background-color: #DDBD4A;
    border-radius: 50px;
    height: 160px;
    width: 160px;
    display: grid;
}

.text-cont-1 .sto a {
color: #000;
}

.cont-textSX-imgDX a {
    color: #000;
}

.cont-textSX-imgDX {
    padding: 100px 20px;
    color: #FFF;
}

.text-cont-1 h2 {
    color: #FFE69A;
    margin-top: 40px;
}
.text-cont-1.white h2 {
    color: #FFA800;
    margin-top: 40px;
}

.elemento-caratteristiche.rosso {
    background-color: #460202;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.elemento-caratteristiche.rosso:hover {
    background-color: #790808;
}

.elemento-caratteristiche.bianco {
    background-color: #DDBD4A;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.elemento-caratteristiche.rosato {
    background-color: #C96666;
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px;
    border: solid white 7px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.bianco.boxattivo {
    background-color: #a48d37;
}

.rosato.boxattivo {
    background-color: #904848;
}

.rosso.boxattivo {
    background-color: #330303;
}

.mollica {
    padding: 40px 20px 10px 20px;
}

.contenitore-crumbs {
    max-width: 1120px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    gap: 110px;
}

.crumbs {
    font-size: 18px;
}

.crumbs ol {
    list-style-type: none;
}

.crumb {
    display: inline-block;
}

.crumbs a {
    color: white;
    text-decoration: none;
}

a.evidenziato {
    color: #FFA800;
}

.crumb a::after {
    display: inline-block;
    color: white;
    content: '>';
    font-size: 12px;
    margin: auto;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 10px;
  }

  .contenitore-chi-siamo {
    padding: 100px 20px;
  }

@media (max-width:600px) {
    header {
     padding: 10px 100px;
     flex-direction: column;
    } 

    .tag-page {
     width: 220px;
     height: 70px;
    }
    
    .tag-page h1 {
     font-size: 20px;
    }

    .contenitore-icone {
     grid-template-columns: 1fr;
    }

    footer nav ul {
     padding-right: 0px;
     margin-top: 10px;
     margin-bottom: 25px;
    }

    footer {
     flex-direction: column;
     flex-wrap: nowrap;
     align-content: center;
     align-items: center;
    }

    footer p {
     margin-bottom: 0px;
     margin-top: 25px;
     padding-left: 0px;
    }

    .contenitore-icone.storia {
     gap:30px;
     grid-template-columns: 1fr;
    }

    .contenitore-1 {
     flex-direction: column;
    }
   
    .text-cont-1, .white {
        width: auto;
        margin: auto;
    }
   .text-cont-1-botti p {
    width: auto;
    margin: auto;
   }
   .contenitore-1.cont-textSX-imgDX.white {
    flex-direction: column;
   }

   .text-cont-1-botti {
    width: auto;
    height: auto;
   }
}